@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600&family=Inter:wght@200;300;400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style-type: none;
}

main {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  cursor: default;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: .4rem;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  margin: 8rem 0;
  background-color: #404041;
}

::-moz-selection {
  background-color: #06286365;
}

::selection {
  background-color: #06286365;
}

a {
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-property: opacity, color, background-color, -webkit-transform, border;
  -webkit-transition-property: opacity, color, background-color, transform, border;
  -webkit-transition-property: opacity, color, background-color, border, -webkit-transform;
  transition-property: opacity, color, background-color, border, -webkit-transform;
  transition-property: opacity, color, background-color, transform, border;
  transition-property: opacity, color, background-color, transform, border, -webkit-transform;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

figure {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

input:-internal-autofill-selected {
  background-color: white !important;
}

.nav {
  width: 100%;
  height: 100px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}

@media (max-width: 550px) {
  .nav {
    padding-top: 10px;
  }
}

.nav .wrapper {
  width: 1200px;
  height: 50px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  grid-column-gap: 2rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 550px) {
  .nav .wrapper {
    width: 88%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    grid-column-gap: unset;
    -ms-grid-columns: unset;
        grid-template-columns: unset;
  }
}

.nav .wrapper .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: auto;
}

@media (max-width: 550px) {
  .nav .wrapper .links {
    display: none;
  }
}

.nav .wrapper .links a {
  color: #404041;
}

.nav .wrapper .links li {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.nav .wrapper .links li:not(:last-of-type) {
  margin-right: 2rem;
}

.nav .wrapper .icon {
  margin-left: auto;
}

.header {
  width: 100%;
  height: auto;
  max-height: 900px;
  padding-top: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: default;
}

@media (max-width: 550px) {
  .header {
    overflow: hidden;
  }
}

.header .wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 1200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .wrapper .text {
  width: 682px;
  height: 340px;
  margin-top: -1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: left;
  position: relative;
}

.header .wrapper .text::before {
  height: 100%;
  width: 100%;
  content: '';
  position: absolute;
  background: #219EE4;
  opacity: 0.06;
  -webkit-filter: blur(300px);
          filter: blur(300px);
}

.header .wrapper .text h1 {
  font-family: 'Bai Jamjuree', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: -0.01em;
  color: #222223;
  max-width: 432px;
  margin-left: -0.01em;
}

.header .wrapper .text p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #535354;
  max-width: 280px;
}

.header .wrapper .text .link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 19px;
  line-height: 19px;
  color: #222223;
  text-transform: capitalize;
  cursor: pointer;
  z-index: 999;
}

.header .wrapper .text .link span {
  height: 50px;
  width: 50px;
  background-color: #222223;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-right: 1rem;
}

.header .wrapper .image {
  width: 675px;
  height: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 4px;
}

.header .wrapper .image .left {
  width: 675px;
  height: 327px;
  background: linear-gradient(106.01deg, #80D1FF 0%, #44B2F1 69.58%);
}

.header .wrapper .image .right {
  width: 228px;
  height: 327px;
  background: linear-gradient(201.5deg, #FFD968 4.52%, #FAC422 102.63%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2rem;
}

.header .wrapper .image .right .wrap {
  width: 138px;
  height: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .wrapper .image .right .wrap img {
  width: 69px;
}

.header .wrapper .image .absolute {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  position: absolute;
}

.header .wrapper .image .absolute .card {
  position: absolute;
  top: -120px;
  left: -60px;
}

.header .wrapper .image .absolute .rt {
  position: absolute;
  bottom: 100px;
  left: 330px;
}

.header .info {
  height: 300px;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .info .wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -4rem;
}

.header .info .wrap .title {
  height: 154px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .info .wrap .title h1 {
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  color: #222223;
  max-width: 221px;
}

.header .info .wrap .title p {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #5F5F64;
  font-family: 'Roboto', sans-serif;
  max-width: 233px;
}

.header .info .wrap .row {
  width: 800px;
  height: 163px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .info .wrap .row .item {
  max-width: 196px;
  height: 163px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .info .wrap .row .item h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #17181A;
}

.header .info .wrap .row .item p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #5F5F64;
}

.middle {
  height: 417px;
  width: 100%;
  cursor: default;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4em;
}

@media (max-width: 550px) {
  .middle {
    overflow: hidden;
  }
}

.middle::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: #52C0FF;
  opacity: 0.25;
  cursor: default;
}

.middle svg {
  position: absolute;
  top: -35px;
}

.middle .wrap {
  width: 800px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.middle .wrap .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 144px;
}

.middle .wrap .item h3 {
  font-family: 'Bai Jamjuree', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  color: #202020;
}

.middle .wrap .item p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #5F5F64;
  max-width: 256px;
}

.customer {
  width: 100%;
  height: 642px;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 550px) {
  .customer {
    overflow: hidden;
  }
}

.customer .wrapper {
  width: 1100px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.customer .wrapper .head {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.customer .wrapper .head h1 {
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: bold;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #0D1111;
}

.customer .wrapper .head p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  max-width: 641px;
  margin-top: 2rem;
  color: #767e7e;
}

.customer .wrapper .numbers {
  width: 1090px;
  height: 209px;
  margin-top: 91px;
  margin-top: 91px;
  border: solid 1.4px transparent;
  border-left: 0;
  border-right: 0;
  -o-border-image: linear-gradient(90deg, #909C92 20.73%, rgba(144, 156, 146, 0) 100%);
     border-image: -webkit-gradient(linear, left top, right top, color-stop(20.73%, #909C92), to(rgba(144, 156, 146, 0)));
     border-image: linear-gradient(90deg, #909C92 20.73%, rgba(144, 156, 146, 0) 100%);
  border-image-slice: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.customer .wrapper .numbers div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.customer .wrapper .numbers div span {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.4em;
  color: #718176;
  text-transform: uppercase;
}

.customer .wrapper .numbers div h3 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #000000;
}

.customer .wrapper .numbers .num1 {
  height: 209px;
  width: 240px;
  border-right: 1.2px solid #909C92;
}

.customer .wrapper .numbers .num2 {
  height: 209px;
  width: 375px;
  border-right: 1.2px solid #909C92;
}

.customer .wrapper .numbers .num3 {
  height: 209px;
  width: 240px;
  border-right: 1.2px solid #909C92;
}

.customer .wrapper .numbers .num4 {
  height: 209px;
  width: 240px;
}

.handoff {
  height: 619px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media (max-width: 550px) {
  .handoff {
    overflow: hidden;
  }
}

.handoff .wrapper {
  width: 1090px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.handoff .wrapper .image {
  width: 460px;
  height: 480px;
  background: #CFEDFF;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.handoff .wrapper .image img {
  position: absolute;
  right: -50px;
  width: 638px;
  height: 500px;
  top: 50px;
}

.handoff .wrapper .text {
  width: 458px;
  height: 470px;
  max-height: 470px;
}

.handoff .wrapper .text h2 {
  font-family: 'Bai Jamjuree', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: -0.01em;
  color: #192430;
  margin-top: .5rem;
}

.handoff .wrapper .text p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #727272;
  margin-top: .5rem;
}

.handoff .wrapper .text .icon_bag {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 3rem;
}

.handoff .wrapper .text .icon_bag .bag {
  width: 381px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.handoff .wrapper .text .icon_bag .bag .icon {
  position: absolute;
  left: -60px;
  top: -28.5px;
}

.handoff .wrapper .text .icon_bag .bag .content {
  width: 286px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}

.handoff .wrapper .text .icon_bag .bag .content h3 {
  font-family: 'Bai Jamjuree', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #222222;
}

.handoff .wrapper .text .icon_bag .bag .content p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  color: #727272;
}

.handoff .wrapper .text .icon_bag .bag:not(:last-of-type) {
  margin-bottom: 2rem;
}

.newsletter {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: #41B3F4;
  margin-top: 99px;
  margin-bottom: 99px;
  overflow: hidden;
}

@media (max-width: 550px) {
  .newsletter {
    overflow: hidden;
  }
}

.newsletter .wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 1090px;
  height: 522px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.newsletter .wrapper div {
  height: 200px;
  width: 200px;
}

.newsletter .wrapper .sub {
  height: 240px;
  width: 361px;
  position: relative;
}

.newsletter .wrapper .sub::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 133px;
  background: #718176;
  top: -30px;
  right: 40px;
}

.newsletter .wrapper .sub h3 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-align: left;
  letter-spacing: 0.01em;
  color: #414449;
  max-width: 210px;
  margin-bottom: 3.2rem;
}

.newsletter .wrapper .text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 30px;
  padding-left: 30px;
}

.newsletter .wrapper .text h1 {
  font-family: 'Bai Jamjuree', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 42px;
}

.newsletter .wrapper .text button {
  width: 160px;
  height: 58px;
  background: #E15C19;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.newsletter .wrapper .card {
  position: relative;
  height: 510.68px;
  width: 586.69px;
}

.newsletter .wrapper .card img {
  position: absolute;
  top: -210px;
  left: -260px;
}

footer {
  height: 175px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media (max-width: 550px) {
  footer {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
  }
}

footer .wrapper {
  width: 1081px;
  height: 117px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 600px) {
  footer .wrapper {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 88%;
    display: none;
  }
}

footer .wrapper .Qlinks {
  width: 100%;
  height: auto;
  background-color: #ac4343;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: auto;
}

footer .wrapper .Qlinks .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: auto;
}

footer .wrapper .Qlinks .links a {
  color: #404041;
}

footer .wrapper .Qlinks .links li {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

footer .wrapper .Qlinks .links li:not(:last-of-type) {
  margin-right: 2rem;
}

footer .wrapper .Qlinks .auth_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: auto;
}

footer .wrapper .Qlinks .auth_socials a {
  color: #404041;
}

footer .wrapper .Qlinks .auth_socials li {
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}

footer .wrapper .Qlinks .auth_socials li:not(:last-of-type) {
  margin-right: 2rem;
}

footer .wrapper .Qlinks .auth_socials li:nth-child(1) a, footer .wrapper .Qlinks .auth_socials li:nth-child(2) a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #404041;
  margin-right: 2.5rem;
}

footer .wrapper .Qlinks .auth_socials li:nth-child(5) a svg {
  margin-bottom: 1px;
  position: relative;
}

footer .wrapper .end {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .wrapper .end span {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(27, 27, 27, 0.35);
}

footer .wrapper .end div {
  height: 1px;
  width: 661px;
  background-color: #565B58;
}

@media (max-width: 550px) {
  footer .wrapper .end div {
    display: none;
  }
}

footer .wrapper_small_screen {
  width: 88%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

@media (max-width: 550px) {
  footer .wrapper_small_screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

footer .wrapper_small_screen .head {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  margin-bottom: 2rem;
}

footer .wrapper_small_screen .head .logo {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-grid;
  display: grid;
  place-items: left;
}

footer .wrapper_small_screen .head .all_link {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

footer .wrapper_small_screen .head .all_link a {
  color: #404041;
}

footer .wrapper_small_screen .head .all_link .links {
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: auto;
}

footer .wrapper_small_screen .head .all_link .links li {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

footer .wrapper_small_screen .head .all_link .links li:not(:last-of-type) {
  margin-bottom: 1.5rem;
}

footer .wrapper_small_screen .head .all_link .auth {
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: auto;
}

footer .wrapper_small_screen .head .all_link .auth li {
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}

footer .wrapper_small_screen .head .all_link .auth li a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #404041;
  margin-right: 2.5rem;
}

footer .wrapper_small_screen .head .all_link .auth li:not(:last-of-type) {
  margin-bottom: 2rem;
}

footer .wrapper_small_screen .follow {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

footer .wrapper_small_screen .follow .socials {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .wrapper_small_screen .follow .socials li {
  margin: 0 1.2rem;
}

footer .wrapper_small_screen .follow .socials li:nth-child(3) a svg {
  margin-bottom: 2px;
  position: relative;
}

footer .wrapper_small_screen .end {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

footer .wrapper_small_screen .end span {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(27, 27, 27, 0.35);
}

footer .wrapper_small_screen .end div {
  height: 1px;
  background-color: #565B58;
}

@media (max-width: 550px) {
  footer .wrapper_small_screen .end div {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */