.customer {
    width: 100%;
    height: 642px;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // background-color: bisque;

    @media (max-width:550px) {
        overflow: hidden;
    }

    & .wrapper {
        width: 1100px;
        height: fit-content;
        padding: 2rem 0;
        // background-color: aqua;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        & .head {
            width: fit-content;
            height: fit-content;

            & h1 {
                font-family: 'Bai Jamjuree', sans-serif;
                font-weight: bold;
                font-size: 80px;
                line-height: 80px;
                text-align: center;
                letter-spacing: 0.01em;
                color: #0D1111;
            }

            & p {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 28px;
                text-align: center;
                max-width: 641px;
                margin-top: 2rem;
                color: rgba(118, 126, 126, 1);
            }
        }

        & .numbers {
            width: 1090px;
            height: 209px;
            // background-color: rgb(7, 7, 7);
            margin-top: 91px;
            margin-top: 91px;      
            border: solid 1.4px transparent;
            border-left: 0;
            border-right: 0;
            border-image: linear-gradient(90deg, #909C92 20.73%, rgba(144, 156, 146, 0) 100%);
            border-image-slice: 1;
            display: flex;
            justify-content: flex-start;

            & div {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                & span {
                    font-family: 'Inter', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 40px;
                    text-align: center;
                    letter-spacing: 0.4em;
                    color: #718176;
                    text-transform: uppercase;
                }

                & h3 {
                    font-family: 'Roboto', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 25px;
                    line-height: 40px;
                    text-align: center;
                    letter-spacing: 0.01em;
                    color: #000000;
                }
            }

            & .num1 {
                height: 209px;
                width: 240px;
                border-right: 1.2px solid #909C92;
            }
            & .num2 {
                height: 209px;
                width: 375px;
                border-right: 1.2px solid #909C92;
            }
            & .num3 {
                height: 209px;
                width: 240px;
                border-right: 1.2px solid #909C92;
            }
            & .num4 {
                height: 209px;
                width: 240px;
            }
        }
        
    }
}