footer {
    height: 175px;
    width: 100%;
    // background-color: aqua;
    display: grid;
    place-items: center;

    @media (max-width:550px) {
        width: 100%;
        height: fit-content;
        overflow: hidden;
    }

    & .wrapper {
        width: 1081px;
        height: 117px;
        // background-color: black;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @media (max-width:600px) {
            height: fit-content;
            width: 88%;
            display: none;
        }

        & .Qlinks {
            width: 100%;
            height: auto;
            // background-color: rgb(172, 67, 67);
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: auto;

            & .links {
                display: flex;
                align-items: center;
                justify-content: flex-start; 
                margin-right: auto;

                a {
                    color: #404041;
                }
                

                & li {
                    font-size: 14px;
                    font-weight: 500;
                    text-transform: uppercase;
                    
                        &:not(:last-of-type) {
                            margin-right: 2rem;
                        }                        
                }
            }

            & .auth_socials {
                display: flex;
                align-items: center;
                justify-content: flex-start; 
                margin-left: auto;                

                a {
                    color: #404041;
                }
                

                & li {
                    font-size: 14px;
                    font-weight: 500;
                    text-transform: capitalize;
                    
                        &:not(:last-of-type) {
                            margin-right: 2rem;
                        }

                        &:nth-child(1), &:nth-child(2) {
                            & a {
                                font-family: 'Roboto', sans-serif;
                                font-style: normal;
                                font-weight: bold;
                                font-size: 14px;
                                line-height: 20px;
                                text-align: center;
                                letter-spacing: 0.01em;
                                color: #404041;
                                margin-right: 2.5rem;
                            }                            
                        }

                        &:nth-child(5) {
                            & a {
                                & svg {
                                    margin-bottom: 1px;
                                    position: relative;
                                }
                            }                            
                        }
                }
            }
        }

        & .end {
            width: 100%;
            height: auto;
            // background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;            

            & span {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                color: rgba(27, 27, 27, 0.35);
            }

            & div {
                height: 1px;
                width: 661px;
                background-color: #565B58;

                @media (max-width:550px) {
                    display: none;
                }
            }
        }
    }


    & .wrapper_small_screen {
        width: 88%;
        height: fit-content;
        // background-color: black;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        display: none;

        @media (max-width:550px) {
            display: flex;
        }

        & .head {
            height: fit-content;
            width: 100%;
            margin-bottom: 2rem;

            & .logo {
                width: 100%;
                height: fit-content;
                display: grid;
                place-items: left;
            }

            & .all_link {
                width: 100%;
                height: fit-content;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 2.5rem;

                a {
                    color: #404041;
                }
                

                & .links {
                    width: 50%;
                    height: fit-content;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: auto;

                    & li {
                        font-size: 14px;
                        font-weight: 500;
                        text-transform: uppercase;

                        &:not(:last-of-type) {
                            margin-bottom: 1.5rem;
                        }
                    }                    
                }

                & .auth {
                    width: 50%;
                    height: fit-content;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;                 

                    & li {
                        text-align: right;
                        font-size: 14px;
                        font-weight: 500;
                        text-transform: capitalize;

                        & a {
                            font-family: 'Roboto', sans-serif;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 20px;
                            text-align: center;
                            letter-spacing: 0.01em;
                            color: #404041;
                        } 

                        &:not(:last-of-type) {
                            margin-bottom: 1.5rem;
                        }
                    }  
                }
            }
        }

        & .follow {
            width: 100%;
            height: fit-content;
            display: grid;
            place-items: center;

            & .socials {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                & li {
                    margin: 0 1.2rem;

                    &:nth-child(3) {
                        & a {
                            & svg {
                                margin-bottom: 2px;
                                position: relative;
                            }
                        }                            
                    }
                }
                
            }
        }
        
        & .end {
            width: 100%;
            height: auto;
            // background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center; 
            margin-top: 2rem;  
            margin-bottom: 2rem;         

            & span {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                color: rgba(27, 27, 27, 0.35);
            }

            & div {
                height: 1px;
                // width: 661px;
                background-color: #565B58;

                @media (max-width:550px) {
                    display: none;
                }
            }
        }
    }
}