.handoff {
    height: 619px;
    width: 100%;
    display: grid;
    place-items: center;

    & .wrapper {
        width: 1090px;
        height: fit-content;
        // background-color: aqua;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .image {
            width: 460px;
            height: 480px;
            background: #CFEDFF;
            position: relative;
            display: grid;
            place-items: center;

            & img {
                position: absolute;
                right: -50px;
                width: 638px;
                height: 500px;
                top: 50px;
                // box-shadow: 15px 70px 100px 0px rgba(0, 0, 0, 0.06);
            }
        }

        & .text {
            width: 458px;
            height: 470px;
            max-height: 470px;
            // background: #186a9c;
            // margin-bottom: auto;

            & h2 {
                font-family: 'Bai Jamjuree', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 52px;
                line-height: 62px;
                letter-spacing: -0.01em;
                color: #192430;
                margin-top: .5rem;
            }

            & p {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: 0.01em;
                color: #727272;
                margin-top: .5rem;
            }

            & .icon_bag {
                width: fit-content;
                height: fit-content;
                margin-top: 3rem;

                & .bag {
                    width: 381px;
                    height: 92px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;

                    & .icon {
                        position: absolute;
                        left: -60px;
                        top: -28.5px;

                        // & img {
                        //     width: 60px;
                        //     height: 57px;
                        // }  

                        // margin-right: auto;
                    }

                    & .content {
                        width: 286px;
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                        margin-left: auto;
                    }

                    &:not(:last-of-type) {
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }
}