.handoff {
    height: 619px;
    width: 100%;
    display: grid;
    place-items: center;
    // margin-bottom: 2rem;

    @media (max-width:550px) {
        overflow: hidden;
        height: fit-content;
    }

    & .wrapper {
        width: 1090px;
        height: fit-content;
        // background-color: aqua;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width:550px) {
            width: 80%;
            flex-wrap: wrap;
            // flex-direction: column;
        }

        & .image {
            width: 460px;
            height: 480px;
            background: #CFEDFF;
            position: relative;
            display: grid;
            place-items: center;

            @media (max-width:550px) {
                width: 100%;
                height: 350px;
                // margin-left: auto;
                margin-bottom: 4rem;
                // flex-direction: column;
            }

            & img {
                position: absolute;
                right: -50px;
                width: 638px;
                height: 500px;
                top: 50px;
                // box-shadow: 15px 70px 100px 0px rgba(0, 0, 0, 0.06);

                @media (max-width:550px) {
                    transform: scale(.7);
                    left: -60%;
                    right: 60%;
                    top: -30px;
                    // flex-direction: column;
                }
            }
        }

        & .text {
            width: 458px;
            // height: 470px;
            max-height: 470px;

            @media (max-width:550px) {
                width: 100%;
                max-width: unset;
                max-height: unset;
                // background-color: #b95a5a;
            }

            & h2 {
                font-family: 'Bai Jamjuree', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 52px;
                line-height: 62px;
                letter-spacing: -0.01em;
                color: #192430;
                margin-top: .5rem;

                @media (max-width:550px) {
                   font-size: 45px;
                   line-height: 55px;
                }
            }

            & p {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: 0.01em;
                color: #727272;
                margin-top: .5rem;

                @media (max-width:550px) {
                   margin-top: 1rem;
                }
            }

            & .icon_bag {
                width: fit-content;
                height: fit-content;
                margin-top: 3rem;

                & .bag {
                    width: 381px;
                    height: 92px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;

                    @media (max-width:550px) {
                        width: 100%;
                        max-width: 381px;
                        padding-left: 90px;
                        height: fit-content;
                    }

                    & .icon {
                        position: absolute;
                        left: -60px;
                        top: -28.5px;

                        // & img {
                        //     width: 60px;
                        //     height: 57px;
                        // }  

                        // margin-right: auto;
                    }

                    & .content {
                        width: 286px;
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                        margin-left: auto;

                        @media (max-width:550px) {
                            width: 100%;
                            max-width: 286px;
                        }

                        & h3 {
                            font-family: 'Bai Jamjuree', sans-serif;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 28px;
                            color: #222222;
                        }

                        & p {
                            font-family: 'Roboto', sans-serif;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 15px;
                            line-height: 27px;
                            color: #727272;
                        }
                    }

                    &:not(:last-of-type) {
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }
}