.header {
    width: 100%;
    height: auto;
    max-height: 900px;
    padding-top: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: default;

    @media (max-width:550px) {
        overflow: hidden;
        max-height: unset;
        padding-bottom: 80px;
    }

    & .wrapper {
        height: fit-content;
        width: 1200px;
        // background-color: #404041;
        justify-content: space-between;
        align-items: flex-start;
        display: flex;

        & .text {
            width: 682px;
            height: 340px;
            // background-color: aqua;
            margin-top: -1.5rem;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            text-transform: left; 
            position: relative;           

            &::before {
                height: 100%;
                width: 100%;
                content: '';
                position: absolute;
                background: #219EE4;
                opacity: 0.06;
                filter: blur(300px);
            }

            & h1 {
                font-family: 'Bai Jamjuree', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 80px;
                line-height: 80px;
                letter-spacing: -0.01em;
                color: #222223;
                max-width: 432px;
                margin-left: -0.01em;

                // & span {
                //     position: relative;

                //     &::before {
                //         content: '';
                //         position: absolute;
                //         height: 70px;
                //         width: 100%;
                //         border: 2px solid #FF8A1F;
                //         left: 0;
                //         top: 0;
                //     }
                // }
            }

            & p {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 30px;
                letter-spacing: 0.01em;
                color: #535354;
                max-width: 280px;
            }

            & .link {
                width: fit-content;
                justify-content: flex-start;
                align-items: center;
                display: flex;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                font-size: 19px;
                line-height: 19px;
                color: #222223;
                text-transform: capitalize;
                cursor: pointer;
                z-index: 999;

                & span {
                    height: 50px;
                    width: 50px;
                    background-color: #222223;
                    display: grid;
                    place-items: center;
                    margin-right: 1rem;
                }
            }
        }

        & .image {
            width: 675px;
            height: 400px;
            // background-color: #404041;
            justify-content: center;
            align-items: flex-start;
            display: flex;
            position: relative;            
            border-radius: 4px;

            & .left {
                width: 675px;
                height: 327px;
                background: linear-gradient(106.01deg, #80D1FF 0%, #44B2F1 69.58%);              
            }

            & .right {
                width: 228px;
                height: 327px;
                background: linear-gradient(201.5deg, #FFD968 4.52%, #FAC422 102.63%);
                display: flex;
                align-items: center;
                justify-content: center;
                 padding-top: 2rem;
                
                & .wrap {
                    width: 138px;
                    height: 205px;
                    // background-color: #219EE4;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;                   

                    & img {
                       width: 69px;
                    }
                }               
            }
           
            & .absolute {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                // background-color: #062863;
                z-index: 999;
                position: absolute;

                & .card {
                    position: absolute;
                    top: -120px;
                    left: -60px;
                }

                & .rt {
                    position: absolute;
                    bottom: 100px;
                    left: 330px;  
                }
            }
        }
    }

    & .info {
        height: 300px;
        width: 1200px;
        // background-color: #219EE4;
        display: flex;
            align-items: center;
            justify-content: center;

        @media (max-width:550px) {
            height: fit-content;
            width: 88%;
        }

        & .wrap {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: -4rem;

            @media (max-width:550px) {
                flex-wrap: wrap;
            }

            & .title {
                height: 154px;
                text-align: left;
                // background-color: #FAC422;
                display: flex;
                justify-content: space-between;
                flex-direction: column;

                & h1 {
                    font-family: 'Bai Jamjuree', sans-serif;
                    font-weight: bold;
                    font-size: 35px;
                    line-height: 42px;
                    color: #222223;
                    max-width: 221px;
                }

                & p {
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 0.01em;
                    color: #5F5F64;
                    font-family: 'Roboto', sans-serif;
                    max-width: 233px;
                }
            }

            & .row {
                width: 800px;
                height: 163px;
                // background-color: #FAC422;
                display: flex;
                align-items: center;
                justify-content: space-between;

                @media (max-width:550px) {
                    width: 100%;
                    height: fit-content;
                    flex-wrap: wrap;
                }

                & .item {
                    max-width: 196px;
                    height: 163px;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;

                    @media (max-width:550px) {
                        width: 196px;                        
                        margin-top: 3rem;
                       
                    }

                    & h3 {
                        font-family: 'Inter', sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 20px;
                        line-height: 28px;
                        letter-spacing: 0.01em;
                        color: #17181A;
                    }

                    & p {
                        font-family: 'Roboto', sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 26px;
                        letter-spacing: 0.01em;
                        color: #5F5F64;
                    }
                }
            }
        }
    }
}