.middle {
    height: 417px;
    width: 100%;    
    cursor: default;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4em;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: #52C0FF;
        opacity: 0.25;
        cursor: default;
    }

    & svg {
            position: absolute;
            top: -35px;
        }

    & .wrap {
       width: 800px;        
        // background-color: #222223;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .item {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            height: 144px;

            & h3 {
                font-family: 'Bai Jamjuree', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 38px;
                color: #202020;
            }

            & p {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.02em;
                color: #5F5F64;
                max-width: 256px;
            }
        }        
    }
    
}