.middle {
    height: 417px;
    width: 100%;    
    cursor: default;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4em;

    @media (max-width:550px) {
        // overflow: hidden;
        height: fit-content;
    }

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: #52C0FF;
        opacity: 0.25;
        cursor: default;
    }

    & svg {
            position: absolute;
            top: -35px;
        }

    & .wrap {
       width: 800px;        
        // background-color: #222223;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width:550px) {
            width: 88%;
            flex-wrap: wrap;
            padding: 3rem 0;
            padding-top: 4rem;
        }

        & .item {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            height: 144px;

            @media (max-width:550px) {
                margin: 1.8rem auto;
            }

            & h3 {
                font-family: 'Bai Jamjuree', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 38px;
                color: #202020;

                @media (max-width:550px) {
                    font-size: 25px;
                    text-align: center;
                }
            }

            & p {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.02em;
                color: #5F5F64;
                max-width: 256px;

                @media (max-width:550px) {
                    text-align: center;
                }
            }
        }        
    }
    
}