.newsletter {
    height: fit-content;
    width: 100%;
    display: grid;
    place-items: center;
    background: #41B3F4;
    margin-top: 621 - 522px;
    margin-bottom: 621 - 522px;
    overflow: hidden;

    @media (max-width:550px) {
        overflow: hidden;
    }

    & .wrapper {
        height: fit-content;
        width: 1090px;
        height: 522px;
        // background: #6bf441;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        @media (max-width:550px) {
            overflow: hidden;
            width: 88%;
            flex-wrap: wrap;
            height: fit-content;
            padding: 2rem 0;
            padding-top: 3rem;
        }

        & div {
            // background-color: #b241f4;
            // height: 200px;
            // width: 200px;
        }

        & .sub {
            height: 240px;
            width: 361px;
            position: relative;

            @media (max-width:550px) {
                width: 100%;                
                max-width: 361px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: fit-content;
                
                & h3 {
                    margin-bottom: 0;
                }
            }
            // background-color: #b241f4;

            &::after {
                content: '';
                position: absolute;
                width: 8px;
                height: 133px;
                background: #718176;
                top: -30px;
                right: 40px;

                @media (max-width:550px) {
                    display: none;
                }                
            }

            & h3 {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 27px;
                text-align: left;
                letter-spacing: 0.01em;
                color: #414449;
                max-width: 210px;
                margin-bottom: 3.2rem;
          }
        }

        & .text {
            width: fit-content;
            height: fit-content;
            padding-bottom: 30px;
            padding-left: 30px;

            @media (max-width:550px) {
                padding-left: 0px;
                margin-top: 2rem;

                & h1 {
                    font-size: 50px;
                    line-height: 60px;
                }
            }   

            & h1 {
                font-family: 'Bai Jamjuree', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 60px;
                line-height: 70px;
                letter-spacing: -0.02em;
                text-transform: capitalize;
                color: #000000;
                margin-bottom: 42px;
            }

            & button {
                width: 160px;
                height: 58px;
                background: #E15C19;
                text-transform: capitalize;
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 16px;
                color: #FFFFFF;
                outline: 0;
                border: 0;
                cursor: pointer;
            }
        }

        & .card {
            position: relative;
            height: 510.68px;
            width: 586.69px;

            @media (max-width:550px) {
            //    margin-top: 0rem;
            //    width: 100%;
            //    max-width: 586.69px;

            //    & img {
            //        left: -60%;
            //        transform: scale(.8);
            //        right: 60%;
            //    }
            display: none;
            } 
            // background-color: #E15C19;

            & img {
                position: absolute;
                top: -210px;
                left: -260px;
            }
        }
    }
}