@import "./config";

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600&family=Inter:wght@200;300;400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style-type: none;
}

main {
    height: fit-content;
    width: 100%;
    cursor: default;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    cursor: default;
}


::-webkit-scrollbar {
    width: .4rem;
    background-color: transparent;

} 

::-webkit-scrollbar-track {
  background-color: transparent;

}

::-webkit-scrollbar-thumb {
margin: 8rem 0;

background-color: #404041;
}

::selection {
    background-color: #06286365;
}

a {
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-property: opacity, color, background-color, -webkit-transform, border;
    -webkit-transition-property: opacity, color, background-color, transform, border;
    transition-property: opacity, color, background-color, transform, border;
}

h1,h2,h3,h4,h5,h6 {
   margin-block-start: 0em;
    margin-block-end: 0em;
}

figure {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

input:-internal-autofill-selected {
    background-color: rgb(255, 255, 255) !important;
}

.nav {
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
   display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;

    & .wrapper {
        width: 1200px;
        height: 50px;  
        // background-color: grey;
        display: grid;
        align-items: center;
        justify-items: center;
        grid-column-gap: 2rem;
        grid-template-columns: repeat(3, 1fr);        

        & .links {
           display: flex;
           align-items: center;
           justify-content: flex-start; 
           margin-right: auto;

           a {
               color: #404041;
           }
           

           & li {
               font-size: 14px;
               font-weight: 500;
               text-transform: uppercase;
               
                &:not(:last-of-type) {
                    margin-right: 2rem;
                }
           }
        }

        & .icon {
            margin-left: auto;
        }
        

    }
}


@import "./header";
@import "./middle";
@import "./customer";
@import "./handoff";

