@import "./config";

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600&family=Inter:wght@200;300;400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style-type: none;
}

main {
    height: fit-content;
    width: 100%;
    cursor: default;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    cursor: default;
}


::-webkit-scrollbar {
    width: .4rem;
    background-color: transparent;

} 

::-webkit-scrollbar-track {
  background-color: transparent;

}

::-webkit-scrollbar-thumb {
margin: 8rem 0;

background-color: #404041;
}

::selection {
    background-color: #06286365;
}

a {
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-property: opacity, color, background-color, -webkit-transform, border;
    -webkit-transition-property: opacity, color, background-color, transform, border;
    transition-property: opacity, color, background-color, transform, border;
}

h1,h2,h3,h4,h5,h6 {
   margin-block-start: 0em;
    margin-block-end: 0em;
}

figure {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

input:-internal-autofill-selected {
    background-color: rgb(255, 255, 255) !important;
}

.nav {
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
   display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;

    & .wrapper {
        width: 1200px;
        height: 50px;  
        // background-color: grey;
        display: grid;
        align-items: center;
        justify-items: center;
        grid-column-gap: 2rem;
        grid-template-columns: repeat(3, 1fr);        

        & .links {
           display: flex;
           align-items: center;
           justify-content: flex-start; 
           margin-right: auto;

           a {
               color: #404041;
           }
           

           & li {
               font-size: 14px;
               font-weight: 500;
               text-transform: uppercase;
               
                &:not(:last-of-type) {
                    margin-right: 2rem;
                }
           }
        }

        & .icon {
            margin-left: auto;
        }
        

    }
}

.header {
    width: 100%;
    height: auto;
    max-height: 900px;
    padding-top: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: default;

    & .wrapper {
        height: fit-content;
        width: 1200px;
        // background-color: #404041;
        justify-content: space-between;
        align-items: flex-start;
        display: flex;

        & .text {
            width: 682px;
            height: 340px;
            // background-color: aqua;
            margin-top: -1.5rem;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            text-transform: left; 
            position: relative;           

            &::before {
                height: 100%;
                width: 100%;
                content: '';
                position: absolute;
                background: #219EE4;
                opacity: 0.06;
                filter: blur(300px);
            }

            & h1 {
                font-family: 'Bai Jamjuree', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 80px;
                line-height: 80px;
                letter-spacing: -0.01em;
                color: #222223;
                max-width: 432px;
                margin-left: -0.01em;

                // & span {
                //     position: relative;

                //     &::before {
                //         content: '';
                //         position: absolute;
                //         height: 70px;
                //         width: 100%;
                //         border: 2px solid #FF8A1F;
                //         left: 0;
                //         top: 0;
                //     }
                // }
            }

            & p {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 30px;
                letter-spacing: 0.01em;
                color: #535354;
                max-width: 280px;
            }

            & .link {
                width: fit-content;
                justify-content: flex-start;
                align-items: center;
                display: flex;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                font-size: 19px;
                line-height: 19px;
                color: #222223;
                text-transform: capitalize;
                cursor: pointer;
                z-index: 999;

                & span {
                    height: 50px;
                    width: 50px;
                    background-color: #222223;
                    display: grid;
                    place-items: center;
                    margin-right: 1rem;
                }
            }
        }

        & .image {
            width: 675px;
            height: 400px;
            // background-color: #404041;
            justify-content: center;
            align-items: flex-start;
            display: flex;
            position: relative;            
            border-radius: 4px;

            & .left {
                width: 675px;
                height: 327px;
                background: linear-gradient(106.01deg, #80D1FF 0%, #44B2F1 69.58%);              
            }

            & .right {
                width: 228px;
                height: 327px;
                background: linear-gradient(201.5deg, #FFD968 4.52%, #FAC422 102.63%);
                display: flex;
                align-items: center;
                justify-content: center;
                 padding-top: 2rem;
                
                & .wrap {
                    width: 138px;
                    height: 205px;
                    // background-color: #219EE4;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;                   

                    & img {
                       width: 69px;
                    }
                }               
            }
           
            & .absolute {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                // background-color: #062863;
                z-index: 999;
                position: absolute;

                & .card {
                    position: absolute;
                    top: -120px;
                    left: -60px;
                }

                & .rt {
                    position: absolute;
                    bottom: 100px;
                    left: 330px;  
                }
            }
        }
    }

    & .info {
        height: 300px;
        width: 1200px;
        // background-color: #219EE4;
        display: flex;
            align-items: center;
            justify-content: center;

        & .wrap {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: -4rem;

            & .title {
                height: 154px;
                text-align: left;
                // background-color: #FAC422;
                display: flex;
                justify-content: space-between;
                flex-direction: column;

                & h1 {
                    font-family: 'Bai Jamjuree', sans-serif;
                    font-weight: bold;
                    font-size: 35px;
                    line-height: 42px;
                    color: #222223;
                    max-width: 221px;
                }

                & p {
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 0.01em;
                    color: #5F5F64;
                    font-family: 'Roboto', sans-serif;
                    max-width: 233px;
                }
            }

            & .row {
                width: 800px;
                height: 163px;
                // background-color: #FAC422;
                display: flex;
                align-items: center;
                justify-content: space-between;

                & .item {
                    max-width: 196px;
                    height: 163px;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;


                    & h3 {
                        font-family: 'Inter', sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 20px;
                        line-height: 28px;
                        letter-spacing: 0.01em;
                        color: #17181A;
                    }

                    & p {
                        font-family: 'Roboto', sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 26px;
                        letter-spacing: 0.01em;
                        color: #5F5F64;
                    }
                }
            }
        }
    }
}

.middle {
    height: 417px;
    width: 100%;    
    cursor: default;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4em;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: #52C0FF;
        opacity: 0.25;
        cursor: default;
    }

    & svg {
            position: absolute;
            top: -35px;
        }

    & .wrap {
       width: 800px;        
        // background-color: #222223;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .item {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            height: 144px;

            & h3 {
                font-family: 'Bai Jamjuree', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 38px;
                color: #202020;
            }

            & p {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.02em;
                color: #5F5F64;
                max-width: 256px;
            }
        }        
    }
    
}

